.wrapper {
  position: relative;
  background-color: var(--clr-bgk);
  isolation: isolate;
  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 200px;
    left: -1rem;
    right: -1rem;
    z-index: -1;
    filter: blur(3rem);
    border-radius: 30% 30% 0 0;
  }
  &::after {
    background: linear-gradient(
      45deg,
      var(--clr-bgk-after),
      var(--clr-bgk-before)
    );
    bottom: -1rem;
  }
  &::before {
    background: linear-gradient(
      45deg,
      var(--clr-bgk-before),
      var(--clr-bgk-after)
    );
    bottom: 1rem;
  }
}

.main {
  min-height: 100dvh;
  width: min(100%, 80em);
  margin: 0 auto;
  padding: 2rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--clr-text);
  &,
  &__header,
  &__nav,
  small {
    display: flex;
  }
  &__header {
    justify-content: space-between;
    width: 100%;
  }
  &__nav {
    gap: 1rem;
    align-items: center;
  }

  &__body {
    display: grid;
    width: 100%;
    position: relative;
  }
  &__h1 {
    text-align: center;
    text-transform: uppercase;
  }
}
