.menu {
  position: relative;
  transition: all 240ms;

  > button {
    cursor: pointer;
    background-color: transparent;
    color: var(--clr-text);
    border: 1px solid transparent;
  }
  &__actions,
  &__btn {
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 8px;
  }
  border-radius: 8px;
  &__actions {
    overflow: hidden;
    z-index: 99999;
    position: absolute;
    right: 0.2rem;
    height: fit-content;
    min-width: 100%;
    min-height: 100%;
    flex-direction: column;
    border: 1px solid var(--clr-accent-8);
    background-color: var(--clr-cards);
    transform: translateY(-150%);
    opacity: 0;
    transition: all 240ms ease-in-out;
    &.open {
      opacity: 1;
      transform: translateY(0px);
      height: fit-content;
      min-width: 15em;
    }

    &_ul {
      list-style: none;
      display: flex;
      gap: 0.5rem;
      flex-flow: column;
      border-bottom: 1px solid var(--clr-accent-8);
      padding-block-end: 0.5rem;
    }

    &_li {
      padding: 0.5rem;
      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: var(--clr-accent-8);
        }
      }
    }
  }
  &__btn {
    cursor: pointer;
    font-family: var(--regular-font);
    color: var(--clr-text);
    border: 1px solid transparent;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    transition: all 250ms;
    &:hover {
      background-color: var(--clr-accent-8);
    }
  }

  &:hover {
    background-color: var(--clr-accent-8);
  }
}
