.thoughts {
  width: 100%;
  padding: 1rem 0;
  &__h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-cards);
    width: fit-content;
    padding: 0.3rem 0.5rem;
    border-radius: 9px;
    margin-bottom: 1rem;

    .command_key {
      font-family: var(--regular-font);
      font-weight: 600;
      display: flex;
      align-items: center;
      padding: 3px 6px;
      border-radius: 6px;
      border: 1px solid var(--clr-accent-8);
      background-color: var(--clr-bgk);
      @media (width < 50em) {
        display: none;
      }
    }
  }

  &__ul {
    --column-size: 20em;
    list-style: none;
    display: grid;
    align-items: start;
    justify-content: center;
    // place-items: center;
    gap: 1rem;
    grid-template-columns: repeat(
      auto-fit,
      minmax(min(100%, var(--column-size)), 1fr)
    );
    grid-auto-rows: min-content;
  }

  &__li {
    --card-padding: 1rem;
    width: min(100%, 25em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--clr-cards);
    border: 1px solid var(--clr-accent-8);
    border-radius: 1rem;
    transition: 240ms;

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: start;
      border-bottom: 1px solid var(--clr-accent-8);
      padding: var(--card-padding);
      h3 {
        margin-bottom: 0.5rem;
      }
    }

    .thoughts__p {
      color: var(--clr-text);
      padding-inline: calc(var(--card-padding));
      font-size: clamp(1rem, 1.35vw, 1.2rem);
      font-weight: 500;
    }

    &_footer {
      img {
        --image-size: 33px;
        aspect-ratio: 1;
        width: var(--image-size);
        height: var(--image-size);
        border-radius: 50%;
        object-position: center;
      }
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: var(--card-padding);
    }
    &:hover {
      // animation-play-state: paused;
      filter: blur(0rem);
      // background-color: hsla(280, 33%, 96%, 0.2);
      border: 1px solid var(--clr-accent);
    }
  }
}
