.thoughts {
  width: 100%;
  padding: 1rem 0;
  &__h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    .command_key {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border-radius: 6px;
      border: 1px solid var(--clr-accent-8);
      gap: 0.3rem;
    }
  }

  &__ul {
    list-style: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    @media (width < 54em) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__li {
    --card-padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--clr-cards);
    border: 1px solid var(--clr-accent-8);
    border-radius: 1rem;
    transition: 240ms;

    &_header {
      display: flex;
      justify-content: space-between;
      align-items: start;
      border-bottom: 1px solid var(--clr-accent-8);
      padding: var(--card-padding);
      h3 {
        margin-bottom: 0.75rem;
      }
    }

    .thoughts__p {
      color: var(--clr-text);
      padding-inline: calc(var(--card-padding));
      font-size: clamp(1rem, 1.35vw, 1.2rem);
      font-weight: 500;
    }

    &_footer {
      img {
        --image-size: 33px;
        aspect-ratio: 1;
        width: var(--image-size);
        height: var(--image-size);
        border-radius: 50%;
        object-position: center;
      }
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: var(--card-padding);
    }

    // div {
    //   flex: 1;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: space-between;
    //   @media (width < 40em) {
    //     flex-direction: row;
    //   }
    // }
    &[data-onBlur="true"] {
      // filter: blur(0.5rem);
    }
    &:hover {
      // animation-play-state: paused;
      filter: blur(0rem);
      // background-color: hsla(280, 33%, 96%, 0.2);
      border: 1px solid var(--clr-accent);
    }
  }
}
